<h1>
  {{title}}
</h1>

<!-- <div *ngIf="softBook">
  {{softBook}}
</div> -->
<!-- <ul>
  <li *ngFor="let item of softBook">
    id:{{item.id}}
    name:{{item.name}}
    Designation:{{item.Designation}}
  </li>
</ul> -->
<!-- <app-post></app-post> -->
<!-- <nav>
  <ul>
    <li>
      <a [routerLink]="['home']">home</a><br>
      <a [routerLink]="['admin']">admin</a><br>
      <a [routerLink]="['post']">post</a>

    </li>
  </ul>
</nav> -->

<!-- <app-admin [msg]='input'></app-admin> -->
<app-admin>
  <!-- <h1>Hello Sachindra!</h1> -->
  <h1>hello i am parent</h1>
</app-admin>
<router-outlet></router-outlet>
